#my-name
{color:red;
}

ul
{color:blue;
}
.location
{color:purple;
}
.number-of-students
{font-weight:bold;font-style:italic;
}

.number-of-girls 
{color:pink;
}
.number-of-boys
{color:#64ade4;
}
.student-names
{color:#954925;
}

sections
{background-color:#c2185b;
}
